/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS 를 수정하세요. */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /*font-family: 'Righteous', cursive;*/
    /*color: #000;*/
}
body {
    display: flex;
    justify-content: center;
}
main {
    border: 1px solid red;
    display: flex;
        flex-direction: column;
        /*justify-content: center;*/
        align-items: center;

    background-color: #e6eaec;
    width: 800px;
}
#myAgora {
    margin: 30px 0px;
}
.discussion__wrapper {
    /*border: 1px solid;*/
    width: 540px;
}
li.discussion__container {
    display: flex;
        justify-content: space-between;
        align-items: center;

    background-color: white;
    margin: 15px 0px;
    border-radius: 20px;
}
.discussion__avatar--image {
    width: 48px;
    border-radius: 100%;
    margin: 0px 10px;
}
.discussion__title {
    margin: 10px;
}
.discussion__information {
    margin: 10px;
    text-align: right;
    color: #829460;
}
.discussion__answered {
    margin: 30px;
}

/* 글자 color 지정 */
h3, a {
    /*text-decoration: none;*/
    color: #829460;
}

/* 입력 Section */
form.form {
    width: 540px;

    display: flex;
        justify-content: center;
        align-items: center;
}
.form__input--wrapper {
    flex: 3;
    background-color: #F6F6C9;
    padding: 10px 20px 10px 20px;
    height: 155px;
    border-radius: 10px;
}
.form__submit {
    flex: 1;
    background-color: #F6F6C9;
    border-radius: 10px;
    margin-left: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.form__input--wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 줄 바꿈을 가능하게 */
    flex-wrap: wrap;

    padding-bottom: 7px;
}
label {
    flex: 1;
}




#name, #title, #story {
    border: 1px solid;
    border-radius: 5px;
}
#name, #title {
    width: 220px; height: 25px;
    padding-left: 10px;
}

#story {
    width: 400px; height: 50px;
    padding: 10px;
}

.form__submit > input {
    background-color: #F8C4B4;
    height: 155px; width: 80px;
    border-radius: 10px;
    font-size: 18px;
}
.form__submit > input:hover {
    background-color: #FF8787;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}