/* Browser initiating. */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    border: 2px solid red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 520px;
    border: 6px solid #ef7993;
    border-bottom: 10px solid #d27082;
    border-radius: 25px;
    background-color: #fd96ab;
    padding: 10px;
}
.calculator__display--for-advanced {
    background-color: white;
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    text-align: right;
    font-size: 30px;
    font-weight: bold;
}
.calculator__display--bare {
    display: none;
}
.calculator__buttons {
    background-color: white;
    flex: 7;
    margin: 10px 10px 15px 10px;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.clear__and__enter {
    flex: 1 0 0;
    display: flex;
    /*border: 1px solid;*/
}
.clear__and__enter * {
    flex: 1;
    margin: 10px 10px;
    border-radius: 10px;
    background-color: greenyellow;
}
.clear__and__enter .sun {
    flex: 2;
    color: white;
    background-color: #bbb0b4;
    border-radius: 0;
    border: 1px solid black;
    display: flex;
}
.clear__and__enter .sun span {
    flex: 1;
    border: 1px dotted black;
    margin: 2px;
    padding: 0;
    border-radius: 0;
    background-color: #bbb0b4;
    color: #bbb0b4;
}
.button__row{
    flex: 1 0 0;
    display: flex;
    /*border: 1px solid;*/
}
.button__row * {
    flex: 1;
    margin: 10px;
    border-radius: 10px;
}

.calculator__buttons * {
    font-size: 20px;
    font-weight: bold;
}

.operator {
    color: white;
    background-color: black;
}
.logo {
    display: flex;
    justify-content: center;
}
img {
    width: 30%;
}
