* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
  color: #000;
}
body {
  background-image: url('./data/codestates-motif.png');
}

/*
  Calculator styles
*/

.container {
  border: 2px solid red;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  border: 6px solid #a29c9f;
  border-bottom: 10px solid #525050;
  border-radius: 25px;
  width: 360px;
  height: 520px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.calculator__display--for-advanced {
  /*display: none;  !* 이 줄을 모두 지우면 advanced 테스트를 하실 수 있습니다.*!*/
  border: 2px solid;
  border-radius: 10px;
  flex: 2;
  background-color: white;
  margin:  10px;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
}
.calculator__display--bare {
  display: none;  /* Bare 테스트를 위해서는 주석 처리 필요 */
  border: 2px solid;
  border-radius: 10px;
  flex: 1;
  background-color: white;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
}

.calculator__display--bare > span {
  display: inline-block;
  text-align: center;
  background-color: #f3f0fc;
  margin: 5px;
  width: 40px;
  height: 45px;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 5px;
}
.calculator__buttons {
  border: 2px solid;
  border-radius: 10px;
  flex: 7;
  background-color: white;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.clear__and__enter {
  flex: 1;
  display: flex;
  /*border: 1px solid;*/
}
.clear__and__enter * {
  flex: 1;
  background-color: #bbb549;
  border-radius: 10px;
  color: #eb4a6d;
  margin: 8px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 3px 3px 3px;
}
.button__row {
  flex: 1;
  display: flex;
  /*border: 1px solid;*/
}
.button__row * {
  flex: 1;
  border-radius: 10px;
  margin: 8px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 3px 3px 3px;
}
.operator {
  color: #167dae;
  background-color: #bbb549;
  box-shadow: 3px 3px 3px;
}
.logo {
  display: flex;
  justify-content: center;
}
img {
  width: 30%;
}
